
nav, footer{
    background-color: lightgrey;
    font-style: bold;
    font-size: 20px;
}

nav>ul>li{
    display:inline;
}

a, .nav-about{
    color:green;
    padding: 0 10px 0 10px;
}
a:hover{
    background-color: pink;
    color:green;
}
a.a-plain:hover{
    background-color: none;
}

header.sticky-top{
    background-color: lightgrey;
    margin-bottom: 40px;
}
header.row{
    background-color: green;
    font-style: bold;
    margin: 5px;
}

header.row > div{
    color: white;
}

article p{
    background-color: pink;
}

article p:hover{
    background-color: lightgrey;
}

article p::first-letter, footer::first-letter, .nav-about>span::first-letter{
    font-size: 26px;
}

aside>ul>li{
    display:inherit;
    padding: 5px;
}

footer{
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-item{
    width: 80%; 
    margin: 0 auto;
}

.footer-copyright{
    font-weight: bold;
    font-size: 80%;
}

.radio-check{
    margin-left: 20px;
}